[Unit]
Description=Ambient light monitoring Service
Wants=syslog.socket
Documentation=https://github.com/rrudolf98/illuminanced

[Service]
Type=forking
ExecStart=/usr/sbin/illuminanced -c /etc/illuminanced/illuminanced.conf
PIDFile=/run/illuminanced.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target